<md-toolbar color="primary">
  <md-toolbar-row>
    <span fxFlex></span>
    <button md-raised-button color="accent" class="ml-xs mr-xs">Edit profile</button>
  </md-toolbar-row>
</md-toolbar>

<div class="wrapper">
  <div  fxLayout="row"  fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
      <md-card>
        <md-card-content class="text-xs-center">
          <div  fxLayout="row"  fxLayoutAlign="center center" class="mt-1">
            <div fxFlex>
            </div>
            <div fxFlex>
              <img src="assets/images/face1.jpg" class="radius-circle">
            </div>
            <div fxFlex>
            </div>
          </div>
          <p class="mb-1">
            <a href="" class="block text-lg">Michael Obrien</a>
            <span class="md-text-muted">London, UK</span>
          </p>

          <div  fxLayout="row"  fxLayoutWrap="wrap" class="mt-1 text-uppercase">
            <div fxFlex="33.33%">
              <h5 class="mt-0 mb-0">89</h5>
              <p class="mt-0 mb-0 text-md md-text-muted">Photos</p>
            </div>
            <div fxFlex="33.33%">
              <h5 class="mt-0 mb-0">354</h5>
              <p class="mt-0 mb-0 text-md md-text-muted">Followers</p>
            </div>
            <div fxFlex="33.33%">
              <h5 class="mt-0 mb-0">945</h5>
              <p class="mt-0 mb-0 text-md md-text-muted">Following</p>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
