<md-toolbar color="primary">
  <md-toolbar-row>
    <span fxFlex></span>
    <button md-raised-button color="accent" class="ml-xs mr-xs" (click)="openEditor()">프로필 수정</button>
    <button md-raised-button color="warn" class="ml-xs mr-xs" [routerLink]="['/forms', 'event']">모임 만들기</button>
  </md-toolbar-row>
</md-toolbar>
<div fxLayout="row" fxLayoutWrap="wrap">
<div class="wrapper">
  <div  fxLayout="row"  fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
      <md-card>
        <md-card-content class="text-xs-center">
          <div  fxLayout="row"  fxLayoutAlign="center center" class="mt-1">
            <div fxFlex>
            </div>
            <div fxFlex *ngIf="profile">
              <img style="max-height: 200px;" src="{{profile.profileImgUrl}}" class="radius-circle toolbar-avatar">
            </div>
            <div fxFlex>
            </div>
          </div>
          <p class="mb-1" *ngIf="profile">
            <a href="" class="block text-lg">{{profile.name}}</a>
            <span class="md-text-muted">{{profile.email}}</span>
          </p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title class="text-xs-center"><h2>내가 만든 모임</h2></md-card-title>
        <md-card-content class="text-xs-center">
          <div *ngFor="let event of myEvents; let i = index"  fxLayout="row"  fxLayoutAlign="center center" class="mt-1">
            <md-card>
              <md-card-header>
                <img md-card-avatar src="{{profile.profileImgUrl}}">
                <md-card-subtitle>{{event.date}}</md-card-subtitle>
                <md-card-title>{{event.name}}</md-card-title>
              </md-card-header>
              <img md-card-image src="{{event.image_url}}">
              <md-card-content>
                <button md-fab md-fab-card-float class="mr-1" color="warn"><md-icon>share</md-icon></button>
                <p class="ma-0">{{event.description}}</p>
              </md-card-content>
              <hr>
              <md-card-actions>
                <div fxLayout="row">
                  <span fxFlex></span>
                  <button md-button [routerLink]="['/tables', 'filter', myEventKeys[i]]">참가자 보기</button>
                </div>
              </md-card-actions>
            </md-card>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
</div>
