.md-red { background-color: md-color($md-red, 500); color: md-contrast($md-red, 500);}
.md-red-50 { background-color: md-color($md-red, 50); color: md-contrast($md-red, 50);}
.md-red-100 { background-color: md-color($md-red, 100); color: md-contrast($md-red, 100);}
.md-red-200 { background-color: md-color($md-red, 200); color: md-contrast($md-red, 200);}
.md-red-300 { background-color: md-color($md-red, 300); color: md-contrast($md-red, 300);}
.md-red-400 { background-color: md-color($md-red, 400); color: md-contrast($md-red, 400);}
.md-red-500 { background-color: md-color($md-red, 500); color: md-contrast($md-red, 500);}
.md-red-600 { background-color: md-color($md-red, 600); color: md-contrast($md-red, 600);}
.md-red-700 { background-color: md-color($md-red, 700); color: md-contrast($md-red, 700);}
.md-red-800 { background-color: md-color($md-red, 800); color: md-contrast($md-red, 800);}
.md-red-900 { background-color: md-color($md-red, 900); color: md-contrast($md-red, 900);}
.md-red-A100 { background-color: md-color($md-red, A100); color: md-contrast($md-red, A100);}
.md-red-A200 { background-color: md-color($md-red, A200); color: md-contrast($md-red, A200);}
.md-red-A400 { background-color: md-color($md-red, A400); color: md-contrast($md-red, A400);}
.md-red-A700 { background-color: md-color($md-red, A700); color: md-contrast($md-red, A700);}

.md-pink { background-color: md-color($md-pink, 500); color: md-contrast($md-pink, 500);}
.md-pink-50 { background-color: md-color($md-pink, 50); color: md-contrast($md-pink, 50);}
.md-pink-100 { background-color: md-color($md-pink, 100); color: md-contrast($md-pink, 100);}
.md-pink-200 { background-color: md-color($md-pink, 200); color: md-contrast($md-pink, 200);}
.md-pink-300 { background-color: md-color($md-pink, 300); color: md-contrast($md-pink, 300);}
.md-pink-400 { background-color: md-color($md-pink, 400); color: md-contrast($md-pink, 400);}
.md-pink-500 { background-color: md-color($md-pink, 500); color: md-contrast($md-pink, 500);}
.md-pink-600 { background-color: md-color($md-pink, 600); color: md-contrast($md-pink, 600);}
.md-pink-700 { background-color: md-color($md-pink, 700); color: md-contrast($md-pink, 700);}
.md-pink-800 { background-color: md-color($md-pink, 800); color: md-contrast($md-pink, 800);}
.md-pink-900 { background-color: md-color($md-pink, 900); color: md-contrast($md-pink, 900);}
.md-pink-A100 { background-color: md-color($md-pink, A100); color: md-contrast($md-pink, A100);}
.md-pink-A200 { background-color: md-color($md-pink, A200); color: md-contrast($md-pink, A200);}
.md-pink-A400 { background-color: md-color($md-pink, A400); color: md-contrast($md-pink, A400);}
.md-pink-A700 { background-color: md-color($md-pink, A700); color: md-contrast($md-pink, A700);}

.md-purple { background-color: md-color($md-purple, 500); color: md-contrast($md-purple, 500);}
.md-purple-50 { background-color: md-color($md-purple, 50); color: md-contrast($md-purple, 50);}
.md-purple-100 { background-color: md-color($md-purple, 100); color: md-contrast($md-purple, 100);}
.md-purple-200 { background-color: md-color($md-purple, 200); color: md-contrast($md-purple, 200);}
.md-purple-300 { background-color: md-color($md-purple, 300); color: md-contrast($md-purple, 300);}
.md-purple-400 { background-color: md-color($md-purple, 400); color: md-contrast($md-purple, 400);}
.md-purple-500 { background-color: md-color($md-purple, 500); color: md-contrast($md-purple, 500);}
.md-purple-600 { background-color: md-color($md-purple, 600); color: md-contrast($md-purple, 600);}
.md-purple-700 { background-color: md-color($md-purple, 700); color: md-contrast($md-purple, 700);}
.md-purple-800 { background-color: md-color($md-purple, 800); color: md-contrast($md-purple, 800);}
.md-purple-900 { background-color: md-color($md-purple, 900); color: md-contrast($md-purple, 900);}
.md-purple-A100 { background-color: md-color($md-purple, A100); color: md-contrast($md-purple, A100);}
.md-purple-A200 { background-color: md-color($md-purple, A200); color: md-contrast($md-purple, A200);}
.md-purple-A400 { background-color: md-color($md-purple, A400); color: md-contrast($md-purple, A400);}
.md-purple-A700 { background-color: md-color($md-purple, A700); color: md-contrast($md-purple, A700);}

.md-deep-purple { background-color: md-color($md-deep-purple, 500); color: md-contrast($md-deep-purple, 500);}
.md-deep-purple-50 { background-color: md-color($md-deep-purple, 50); color: md-contrast($md-deep-purple, 50);}
.md-deep-purple-100 { background-color: md-color($md-deep-purple, 100); color: md-contrast($md-deep-purple, 100);}
.md-deep-purple-200 { background-color: md-color($md-deep-purple, 200); color: md-contrast($md-deep-purple, 200);}
.md-deep-purple-300 { background-color: md-color($md-deep-purple, 300); color: md-contrast($md-deep-purple, 300);}
.md-deep-purple-400 { background-color: md-color($md-deep-purple, 400); color: md-contrast($md-deep-purple, 400);}
.md-deep-purple-500 { background-color: md-color($md-deep-purple, 500); color: md-contrast($md-deep-purple, 500);}
.md-deep-purple-600 { background-color: md-color($md-deep-purple, 600); color: md-contrast($md-deep-purple, 600);}
.md-deep-purple-700 { background-color: md-color($md-deep-purple, 700); color: md-contrast($md-deep-purple, 700);}
.md-deep-purple-800 { background-color: md-color($md-deep-purple, 800); color: md-contrast($md-deep-purple, 800);}
.md-deep-purple-900 { background-color: md-color($md-deep-purple, 900); color: md-contrast($md-deep-purple, 900);}
.md-deep-purple-A100 { background-color: md-color($md-deep-purple, A100); color: md-contrast($md-deep-purple, A100);}
.md-deep-purple-A200 { background-color: md-color($md-deep-purple, A200); color: md-contrast($md-deep-purple, A200);}
.md-deep-purple-A400 { background-color: md-color($md-deep-purple, A400); color: md-contrast($md-deep-purple, A400);}
.md-deep-purple-A700 { background-color: md-color($md-deep-purple, A700); color: md-contrast($md-deep-purple, A700);}

.md-indigo { background-color: md-color($md-indigo, 500); color: md-contrast($md-indigo, 500);}
.md-indigo-50 { background-color: md-color($md-indigo, 50); color: md-contrast($md-indigo, 50);}
.md-indigo-100 { background-color: md-color($md-indigo, 100); color: md-contrast($md-indigo, 100);}
.md-indigo-200 { background-color: md-color($md-indigo, 200); color: md-contrast($md-indigo, 200);}
.md-indigo-300 { background-color: md-color($md-indigo, 300); color: md-contrast($md-indigo, 300);}
.md-indigo-400 { background-color: md-color($md-indigo, 400); color: md-contrast($md-indigo, 400);}
.md-indigo-500 { background-color: md-color($md-indigo, 500); color: md-contrast($md-indigo, 500);}
.md-indigo-600 { background-color: md-color($md-indigo, 600); color: md-contrast($md-indigo, 600);}
.md-indigo-700 { background-color: md-color($md-indigo, 700); color: md-contrast($md-indigo, 700);}
.md-indigo-800 { background-color: md-color($md-indigo, 800); color: md-contrast($md-indigo, 800);}
.md-indigo-900 { background-color: md-color($md-indigo, 900); color: md-contrast($md-indigo, 900);}
.md-indigo-A100 { background-color: md-color($md-indigo, A100); color: md-contrast($md-indigo, A100);}
.md-indigo-A200 { background-color: md-color($md-indigo, A200); color: md-contrast($md-indigo, A200);}
.md-indigo-A400 { background-color: md-color($md-indigo, A400); color: md-contrast($md-indigo, A400);}
.md-indigo-A700 { background-color: md-color($md-indigo, A700); color: md-contrast($md-indigo, A700);}

.md-blue { background-color: md-color($md-blue, 500); color: md-contrast($md-blue, 500);}
.md-blue-50 { background-color: md-color($md-blue, 50); color: md-contrast($md-blue, 50);}
.md-blue-100 { background-color: md-color($md-blue, 100); color: md-contrast($md-blue, 100);}
.md-blue-200 { background-color: md-color($md-blue, 200); color: md-contrast($md-blue, 200);}
.md-blue-300 { background-color: md-color($md-blue, 300); color: md-contrast($md-blue, 300);}
.md-blue-400 { background-color: md-color($md-blue, 400); color: md-contrast($md-blue, 400);}
.md-blue-500 { background-color: md-color($md-blue, 500); color: md-contrast($md-blue, 500);}
.md-blue-600 { background-color: md-color($md-blue, 600); color: md-contrast($md-blue, 600);}
.md-blue-700 { background-color: md-color($md-blue, 700); color: md-contrast($md-blue, 700);}
.md-blue-800 { background-color: md-color($md-blue, 800); color: md-contrast($md-blue, 800);}
.md-blue-900 { background-color: md-color($md-blue, 900); color: md-contrast($md-blue, 900);}
.md-blue-A100 { background-color: md-color($md-blue, A100); color: md-contrast($md-blue, A100);}
.md-blue-A200 { background-color: md-color($md-blue, A200); color: md-contrast($md-blue, A200);}
.md-blue-A400 { background-color: md-color($md-blue, A400); color: md-contrast($md-blue, A400);}
.md-blue-A700 { background-color: md-color($md-blue, A700); color: md-contrast($md-blue, A700);}

.md-light-blue { background-color: md-color($md-light-blue, 500); color: md-contrast($md-light-blue, 500);}
.md-light-blue-50 { background-color: md-color($md-light-blue, 50); color: md-contrast($md-light-blue, 50);}
.md-light-blue-100 { background-color: md-color($md-light-blue, 100); color: md-contrast($md-light-blue, 100);}
.md-light-blue-200 { background-color: md-color($md-light-blue, 200); color: md-contrast($md-light-blue, 200);}
.md-light-blue-300 { background-color: md-color($md-light-blue, 300); color: md-contrast($md-light-blue, 300);}
.md-light-blue-400 { background-color: md-color($md-light-blue, 400); color: md-contrast($md-light-blue, 400);}
.md-light-blue-500 { background-color: md-color($md-light-blue, 500); color: md-contrast($md-light-blue, 500);}
.md-light-blue-600 { background-color: md-color($md-light-blue, 600); color: md-contrast($md-light-blue, 600);}
.md-light-blue-700 { background-color: md-color($md-light-blue, 700); color: md-contrast($md-light-blue, 700);}
.md-light-blue-800 { background-color: md-color($md-light-blue, 800); color: md-contrast($md-light-blue, 800);}
.md-light-blue-900 { background-color: md-color($md-light-blue, 900); color: md-contrast($md-light-blue, 900);}
.md-light-blue-A100 { background-color: md-color($md-light-blue, A100); color: md-contrast($md-light-blue, A100);}
.md-light-blue-A200 { background-color: md-color($md-light-blue, A200); color: md-contrast($md-light-blue, A200);}
.md-light-blue-A400 { background-color: md-color($md-light-blue, A400); color: md-contrast($md-light-blue, A400);}
.md-light-blue-A700 { background-color: md-color($md-light-blue, A700); color: md-contrast($md-light-blue, A700);}

.md-cyan { background-color: md-color($md-cyan, 500); color: md-contrast($md-cyan, 500);}
.md-cyan-50 { background-color: md-color($md-cyan, 50); color: md-contrast($md-cyan, 50);}
.md-cyan-100 { background-color: md-color($md-cyan, 100); color: md-contrast($md-cyan, 100);}
.md-cyan-200 { background-color: md-color($md-cyan, 200); color: md-contrast($md-cyan, 200);}
.md-cyan-300 { background-color: md-color($md-cyan, 300); color: md-contrast($md-cyan, 300);}
.md-cyan-400 { background-color: md-color($md-cyan, 400); color: md-contrast($md-cyan, 400);}
.md-cyan-500 { background-color: md-color($md-cyan, 500); color: md-contrast($md-cyan, 500);}
.md-cyan-600 { background-color: md-color($md-cyan, 600); color: md-contrast($md-cyan, 600);}
.md-cyan-700 { background-color: md-color($md-cyan, 700); color: md-contrast($md-cyan, 700);}
.md-cyan-800 { background-color: md-color($md-cyan, 800); color: md-contrast($md-cyan, 800);}
.md-cyan-900 { background-color: md-color($md-cyan, 900); color: md-contrast($md-cyan, 900);}
.md-cyan-A100 { background-color: md-color($md-cyan, A100); color: md-contrast($md-cyan, A100);}
.md-cyan-A200 { background-color: md-color($md-cyan, A200); color: md-contrast($md-cyan, A200);}
.md-cyan-A400 { background-color: md-color($md-cyan, A400); color: md-contrast($md-cyan, A400);}
.md-cyan-A700 { background-color: md-color($md-cyan, A700); color: md-contrast($md-cyan, A700);}

.md-teal { background-color: md-color($md-teal, 500); color: md-contrast($md-teal, 500);}
.md-teal-50 { background-color: md-color($md-teal, 50); color: md-contrast($md-teal, 50);}
.md-teal-100 { background-color: md-color($md-teal, 100); color: md-contrast($md-teal, 100);}
.md-teal-200 { background-color: md-color($md-teal, 200); color: md-contrast($md-teal, 200);}
.md-teal-300 { background-color: md-color($md-teal, 300); color: md-contrast($md-teal, 300);}
.md-teal-400 { background-color: md-color($md-teal, 400); color: md-contrast($md-teal, 400);}
.md-teal-500 { background-color: md-color($md-teal, 500); color: md-contrast($md-teal, 500);}
.md-teal-600 { background-color: md-color($md-teal, 600); color: md-contrast($md-teal, 600);}
.md-teal-700 { background-color: md-color($md-teal, 700); color: md-contrast($md-teal, 700);}
.md-teal-800 { background-color: md-color($md-teal, 800); color: md-contrast($md-teal, 800);}
.md-teal-900 { background-color: md-color($md-teal, 900); color: md-contrast($md-teal, 900);}
.md-teal-A100 { background-color: md-color($md-teal, A100); color: md-contrast($md-teal, A100);}
.md-teal-A200 { background-color: md-color($md-teal, A200); color: md-contrast($md-teal, A200);}
.md-teal-A400 { background-color: md-color($md-teal, A400); color: md-contrast($md-teal, A400);}
.md-teal-A700 { background-color: md-color($md-teal, A700); color: md-contrast($md-teal, A700);}

.md-green { background-color: md-color($md-green, 500); color: md-contrast($md-green, 500);}
.md-green-50 { background-color: md-color($md-green, 50); color: md-contrast($md-green, 50);}
.md-green-100 { background-color: md-color($md-green, 100); color: md-contrast($md-green, 100);}
.md-green-200 { background-color: md-color($md-green, 200); color: md-contrast($md-green, 200);}
.md-green-300 { background-color: md-color($md-green, 300); color: md-contrast($md-green, 300);}
.md-green-400 { background-color: md-color($md-green, 400); color: md-contrast($md-green, 400);}
.md-green-500 { background-color: md-color($md-green, 500); color: md-contrast($md-green, 500);}
.md-green-600 { background-color: md-color($md-green, 600); color: md-contrast($md-green, 600);}
.md-green-700 { background-color: md-color($md-green, 700); color: md-contrast($md-green, 700);}
.md-green-800 { background-color: md-color($md-green, 800); color: md-contrast($md-green, 800);}
.md-green-900 { background-color: md-color($md-green, 900); color: md-contrast($md-green, 900);}
.md-green-A100 { background-color: md-color($md-green, A100); color: md-contrast($md-green, A100);}
.md-green-A200 { background-color: md-color($md-green, A200); color: md-contrast($md-green, A200);}
.md-green-A400 { background-color: md-color($md-green, A400); color: md-contrast($md-green, A400);}
.md-green-A700 { background-color: md-color($md-green, A700); color: md-contrast($md-green, A700);}

.md-light-green { background-color: md-color($md-light-green, 500); color: md-contrast($md-light-green, 500);}
.md-light-green-50 { background-color: md-color($md-light-green, 50); color: md-contrast($md-light-green, 50);}
.md-light-green-100 { background-color: md-color($md-light-green, 100); color: md-contrast($md-light-green, 100);}
.md-light-green-200 { background-color: md-color($md-light-green, 200); color: md-contrast($md-light-green, 200);}
.md-light-green-300 { background-color: md-color($md-light-green, 300); color: md-contrast($md-light-green, 300);}
.md-light-green-400 { background-color: md-color($md-light-green, 400); color: md-contrast($md-light-green, 400);}
.md-light-green-500 { background-color: md-color($md-light-green, 500); color: md-contrast($md-light-green, 500);}
.md-light-green-600 { background-color: md-color($md-light-green, 600); color: md-contrast($md-light-green, 600);}
.md-light-green-700 { background-color: md-color($md-light-green, 700); color: md-contrast($md-light-green, 700);}
.md-light-green-800 { background-color: md-color($md-light-green, 800); color: md-contrast($md-light-green, 800);}
.md-light-green-900 { background-color: md-color($md-light-green, 900); color: md-contrast($md-light-green, 900);}
.md-light-green-A100 { background-color: md-color($md-light-green, A100); color: md-contrast($md-light-green, A100);}
.md-light-green-A200 { background-color: md-color($md-light-green, A200); color: md-contrast($md-light-green, A200);}
.md-light-green-A400 { background-color: md-color($md-light-green, A400); color: md-contrast($md-light-green, A400);}
.md-light-green-A700 { background-color: md-color($md-light-green, A700); color: md-contrast($md-light-green, A700);}

.md-lime { background-color: md-color($md-lime, 500); color: md-contrast($md-lime, 500);}
.md-lime-50 { background-color: md-color($md-lime, 50); color: md-contrast($md-lime, 50);}
.md-lime-100 { background-color: md-color($md-lime, 100); color: md-contrast($md-lime, 100);}
.md-lime-200 { background-color: md-color($md-lime, 200); color: md-contrast($md-lime, 200);}
.md-lime-300 { background-color: md-color($md-lime, 300); color: md-contrast($md-lime, 300);}
.md-lime-400 { background-color: md-color($md-lime, 400); color: md-contrast($md-lime, 400);}
.md-lime-500 { background-color: md-color($md-lime, 500); color: md-contrast($md-lime, 500);}
.md-lime-600 { background-color: md-color($md-lime, 600); color: md-contrast($md-lime, 600);}
.md-lime-700 { background-color: md-color($md-lime, 700); color: md-contrast($md-lime, 700);}
.md-lime-800 { background-color: md-color($md-lime, 800); color: md-contrast($md-lime, 800);}
.md-lime-900 { background-color: md-color($md-lime, 900); color: md-contrast($md-lime, 900);}
.md-lime-A100 { background-color: md-color($md-lime, A100); color: md-contrast($md-lime, A100);}
.md-lime-A200 { background-color: md-color($md-lime, A200); color: md-contrast($md-lime, A200);}
.md-lime-A400 { background-color: md-color($md-lime, A400); color: md-contrast($md-lime, A400);}
.md-lime-A700 { background-color: md-color($md-lime, A700); color: md-contrast($md-lime, A700);}

.md-yellow { background-color: md-color($md-yellow, 500); color: md-contrast($md-yellow, 500);}
.md-yellow-50 { background-color: md-color($md-yellow, 50); color: md-contrast($md-yellow, 50);}
.md-yellow-100 { background-color: md-color($md-yellow, 100); color: md-contrast($md-yellow, 100);}
.md-yellow-200 { background-color: md-color($md-yellow, 200); color: md-contrast($md-yellow, 200);}
.md-yellow-300 { background-color: md-color($md-yellow, 300); color: md-contrast($md-yellow, 300);}
.md-yellow-400 { background-color: md-color($md-yellow, 400); color: md-contrast($md-yellow, 400);}
.md-yellow-500 { background-color: md-color($md-yellow, 500); color: md-contrast($md-yellow, 500);}
.md-yellow-600 { background-color: md-color($md-yellow, 600); color: md-contrast($md-yellow, 600);}
.md-yellow-700 { background-color: md-color($md-yellow, 700); color: md-contrast($md-yellow, 700);}
.md-yellow-800 { background-color: md-color($md-yellow, 800); color: md-contrast($md-yellow, 800);}
.md-yellow-900 { background-color: md-color($md-yellow, 900); color: md-contrast($md-yellow, 900);}
.md-yellow-A100 { background-color: md-color($md-yellow, A100); color: md-contrast($md-yellow, A100);}
.md-yellow-A200 { background-color: md-color($md-yellow, A200); color: md-contrast($md-yellow, A200);}
.md-yellow-A400 { background-color: md-color($md-yellow, A400); color: md-contrast($md-yellow, A400);}
.md-yellow-A700 { background-color: md-color($md-yellow, A700); color: md-contrast($md-yellow, A700);}

.md-amber { background-color: md-color($md-amber, 500); color: md-contrast($md-amber, 500);}
.md-amber-50 { background-color: md-color($md-amber, 50); color: md-contrast($md-amber, 50);}
.md-amber-100 { background-color: md-color($md-amber, 100); color: md-contrast($md-amber, 100);}
.md-amber-200 { background-color: md-color($md-amber, 200); color: md-contrast($md-amber, 200);}
.md-amber-300 { background-color: md-color($md-amber, 300); color: md-contrast($md-amber, 300);}
.md-amber-400 { background-color: md-color($md-amber, 400); color: md-contrast($md-amber, 400);}
.md-amber-500 { background-color: md-color($md-amber, 500); color: md-contrast($md-amber, 500);}
.md-amber-600 { background-color: md-color($md-amber, 600); color: md-contrast($md-amber, 600);}
.md-amber-700 { background-color: md-color($md-amber, 700); color: md-contrast($md-amber, 700);}
.md-amber-800 { background-color: md-color($md-amber, 800); color: md-contrast($md-amber, 800);}
.md-amber-900 { background-color: md-color($md-amber, 900); color: md-contrast($md-amber, 900);}
.md-amber-A100 { background-color: md-color($md-amber, A100); color: md-contrast($md-amber, A100);}
.md-amber-A200 { background-color: md-color($md-amber, A200); color: md-contrast($md-amber, A200);}
.md-amber-A400 { background-color: md-color($md-amber, A400); color: md-contrast($md-amber, A400);}
.md-amber-A700 { background-color: md-color($md-amber, A700); color: md-contrast($md-amber, A700);}

.md-orange { background-color: md-color($md-orange, 500); color: md-contrast($md-orange, 500);}
.md-orange-50 { background-color: md-color($md-orange, 50); color: md-contrast($md-orange, 50);}
.md-orange-100 { background-color: md-color($md-orange, 100); color: md-contrast($md-orange, 100);}
.md-orange-200 { background-color: md-color($md-orange, 200); color: md-contrast($md-orange, 200);}
.md-orange-300 { background-color: md-color($md-orange, 300); color: md-contrast($md-orange, 300);}
.md-orange-400 { background-color: md-color($md-orange, 400); color: md-contrast($md-orange, 400);}
.md-orange-500 { background-color: md-color($md-orange, 500); color: md-contrast($md-orange, 500);}
.md-orange-600 { background-color: md-color($md-orange, 600); color: md-contrast($md-orange, 600);}
.md-orange-700 { background-color: md-color($md-orange, 700); color: md-contrast($md-orange, 700);}
.md-orange-800 { background-color: md-color($md-orange, 800); color: md-contrast($md-orange, 800);}
.md-orange-900 { background-color: md-color($md-orange, 900); color: md-contrast($md-orange, 900);}
.md-orange-A100 { background-color: md-color($md-orange, A100); color: md-contrast($md-orange, A100);}
.md-orange-A200 { background-color: md-color($md-orange, A200); color: md-contrast($md-orange, A200);}
.md-orange-A400 { background-color: md-color($md-orange, A400); color: md-contrast($md-orange, A400);}
.md-orange-A700 { background-color: md-color($md-orange, A700); color: md-contrast($md-orange, A700);}

.md-deep-orange { background-color: md-color($md-deep-orange, 500); color: md-contrast($md-deep-orange, 500);}
.md-deep-orange-50 { background-color: md-color($md-deep-orange, 50); color: md-contrast($md-deep-orange, 50);}
.md-deep-orange-100 { background-color: md-color($md-deep-orange, 100); color: md-contrast($md-deep-orange, 100);}
.md-deep-orange-200 { background-color: md-color($md-deep-orange, 200); color: md-contrast($md-deep-orange, 200);}
.md-deep-orange-300 { background-color: md-color($md-deep-orange, 300); color: md-contrast($md-deep-orange, 300);}
.md-deep-orange-400 { background-color: md-color($md-deep-orange, 400); color: md-contrast($md-deep-orange, 400);}
.md-deep-orange-500 { background-color: md-color($md-deep-orange, 500); color: md-contrast($md-deep-orange, 500);}
.md-deep-orange-600 { background-color: md-color($md-deep-orange, 600); color: md-contrast($md-deep-orange, 600);}
.md-deep-orange-700 { background-color: md-color($md-deep-orange, 700); color: md-contrast($md-deep-orange, 700);}
.md-deep-orange-800 { background-color: md-color($md-deep-orange, 800); color: md-contrast($md-deep-orange, 800);}
.md-deep-orange-900 { background-color: md-color($md-deep-orange, 900); color: md-contrast($md-deep-orange, 900);}
.md-deep-orange-A100 { background-color: md-color($md-deep-orange, A100); color: md-contrast($md-deep-orange, A100);}
.md-deep-orange-A200 { background-color: md-color($md-deep-orange, A200); color: md-contrast($md-deep-orange, A200);}
.md-deep-orange-A400 { background-color: md-color($md-deep-orange, A400); color: md-contrast($md-deep-orange, A400);}
.md-deep-orange-A700 { background-color: md-color($md-deep-orange, A700); color: md-contrast($md-deep-orange, A700);}

.md-brown { background-color: md-color($md-brown, 500); color: md-contrast($md-brown, 500);}
.md-brown-50 { background-color: md-color($md-brown, 50); color: md-contrast($md-brown, 50);}
.md-brown-100 { background-color: md-color($md-brown, 100); color: md-contrast($md-brown, 100);}
.md-brown-200 { background-color: md-color($md-brown, 200); color: md-contrast($md-brown, 200);}
.md-brown-300 { background-color: md-color($md-brown, 300); color: md-contrast($md-brown, 300);}
.md-brown-400 { background-color: md-color($md-brown, 400); color: md-contrast($md-brown, 400);}
.md-brown-500 { background-color: md-color($md-brown, 500); color: md-contrast($md-brown, 500);}
.md-brown-600 { background-color: md-color($md-brown, 600); color: md-contrast($md-brown, 600);}
.md-brown-700 { background-color: md-color($md-brown, 700); color: md-contrast($md-brown, 700);}
.md-brown-800 { background-color: md-color($md-brown, 800); color: md-contrast($md-brown, 800);}
.md-brown-900 { background-color: md-color($md-brown, 900); color: md-contrast($md-brown, 900);}
.md-brown-A100 { background-color: md-color($md-brown, A100); color: md-contrast($md-brown, A100);}
.md-brown-A200 { background-color: md-color($md-brown, A200); color: md-contrast($md-brown, A200);}
.md-brown-A400 { background-color: md-color($md-brown, A400); color: md-contrast($md-brown, A400);}
.md-brown-A700 { background-color: md-color($md-brown, A700); color: md-contrast($md-brown, A700);}

.md-grey { background-color: md-color($md-grey, 500); color: md-contrast($md-grey, 500);}
.md-grey-50 { background-color: md-color($md-grey, 50); color: md-contrast($md-grey, 50);}
.md-grey-100 { background-color: md-color($md-grey, 100); color: md-contrast($md-grey, 100);}
.md-grey-200 { background-color: md-color($md-grey, 200); color: md-contrast($md-grey, 200);}
.md-grey-300 { background-color: md-color($md-grey, 300); color: md-contrast($md-grey, 300);}
.md-grey-400 { background-color: md-color($md-grey, 400); color: md-contrast($md-grey, 400);}
.md-grey-500 { background-color: md-color($md-grey, 500); color: md-contrast($md-grey, 500);}
.md-grey-600 { background-color: md-color($md-grey, 600); color: md-contrast($md-grey, 600);}
.md-grey-700 { background-color: md-color($md-grey, 700); color: md-contrast($md-grey, 700);}
.md-grey-800 { background-color: md-color($md-grey, 800); color: md-contrast($md-grey, 800);}
.md-grey-900 { background-color: md-color($md-grey, 900); color: md-contrast($md-grey, 900);}
.md-grey-A100 { background-color: md-color($md-grey, A100); color: md-contrast($md-grey, A100);}
.md-grey-A200 { background-color: md-color($md-grey, A200); color: md-contrast($md-grey, A200);}
.md-grey-A400 { background-color: md-color($md-grey, A400); color: md-contrast($md-grey, A400);}
.md-grey-A700 { background-color: md-color($md-grey, A700); color: md-contrast($md-grey, A700);}

.md-blue-grey { background-color: md-color($md-blue-grey, 500); color: md-contrast($md-blue-grey, 500);}
.md-blue-grey-50 { background-color: md-color($md-blue-grey, 50); color: md-contrast($md-blue-grey, 50);}
.md-blue-grey-100 { background-color: md-color($md-blue-grey, 100); color: md-contrast($md-blue-grey, 100);}
.md-blue-grey-200 { background-color: md-color($md-blue-grey, 200); color: md-contrast($md-blue-grey, 200);}
.md-blue-grey-300 { background-color: md-color($md-blue-grey, 300); color: md-contrast($md-blue-grey, 300);}
.md-blue-grey-400 { background-color: md-color($md-blue-grey, 400); color: md-contrast($md-blue-grey, 400);}
.md-blue-grey-500 { background-color: md-color($md-blue-grey, 500); color: md-contrast($md-blue-grey, 500);}
.md-blue-grey-600 { background-color: md-color($md-blue-grey, 600); color: md-contrast($md-blue-grey, 600);}
.md-blue-grey-700 { background-color: md-color($md-blue-grey, 700); color: md-contrast($md-blue-grey, 700);}
.md-blue-grey-800 { background-color: md-color($md-blue-grey, 800); color: md-contrast($md-blue-grey, 800);}
.md-blue-grey-900 { background-color: md-color($md-blue-grey, 900); color: md-contrast($md-blue-grey, 900);}
.md-blue-grey-A100 { background-color: md-color($md-blue-grey, A100); color: md-contrast($md-blue-grey, A100);}
.md-blue-grey-A200 { background-color: md-color($md-blue-grey, A200); color: md-contrast($md-blue-grey, A200);}
.md-blue-grey-A400 { background-color: md-color($md-blue-grey, A400); color: md-contrast($md-blue-grey, A400);}
.md-blue-grey-A700 { background-color: md-color($md-blue-grey, A700); color: md-contrast($md-blue-grey, A700);}