<md-card>
  <md-card-title>모임 등록</md-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <md-card-content>
      <div class="mb-1">
        <md-input placeholder="모임 이름" [formControl]="form.controls['name']"  type="text" style="width: 100%"></md-input>
        <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="md-text-warn">
          모임 이름을 등록 해야합니다.</small>
        <small *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="md-text-warn">
          모임 이름을 한 글자 이상 등록해주세요.</small>
        <small *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="md-text-warn">
          모임 이름은 30 글자 이하로 등록해주세요.</small>
      </div>
      <div class="mb-1">
        <md-input-container style="width: 100%">
        <textarea md-input placeholder="모임 설명"
                  [formControl]="form.controls['description']" style="width: 100%"></textarea>
        </md-input-container>
        <small *ngIf="form.controls['description'].hasError('required') && form.controls['description'].touched" class="md-text-warn">
          모임 설명을 등록 해야합니다.</small>
        <small *ngIf="form.controls['description'].hasError('minlength') && form.controls['description'].touched" class="md-text-warn">
          모임 설명을 한 글자 이상 등록해주세요.</small>
        <small *ngIf="form.controls['description'].hasError('maxlength') && form.controls['description'].touched" class="md-text-warn">
          모임 설명은 500 글자 이하로 등록해주세요.</small>
      </div>

      <div class="mb-1">
      	<md-input placeholder="Date" [formControl]="form.controls['date']" type="date" style="width: 100%"></md-input>
        <small *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched" class="md-text-warn">You must include a date.</small>
        <small *ngIf="form.controls['date'].errors?.date && form.controls['date'].touched" class="md-text-warn">You must include a valid date.</small>
      </div>

      <div class="mb-1">
        <input (change)="uploadListener($event)" placeholder="모임 소개 사진"
               [formControl]="form.controls['image_url']" type="file" style="width: 100%">
      </div>

      <div class="mb-1">
        <div id="map" style="width:100%;height:350px;"></div>
      </div>

    </md-card-content>
    <hr>
    <md-card-actions>
      <button md-raised-button color="primary" type="submit" [disabled]="!form.valid || uploadLoading">Submit</button>
    </md-card-actions>
  </form>
</md-card>
